* {
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
}

.topbar {
  position: -webkit-sticky;
  position: sticky;
  width: 90%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 30px;
  padding: 0px 15px;
  border-bottom: 1px solid black;
}

.topbar #btn {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.topbar #btn a {
  text-decoration: none;
  color: black;
}

.topbar #btn button {
  font-size: 16px;
  padding: 3px 6px;
}

form {
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

form .page-body {
  position: relative;
  width: 88%;
  min-height: calc(100vh - 102px - 60px);
  margin: auto;
}

form .page-body .product-window {
  display: inline-block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin: 20px;
  width: 230px;
  height: 170px;
  border: 1px solid black;
  padding: 5px 10px;
}

form .page-body .product-window .delete-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  width: 18px;
  height: 18px;
  margin: 20px 0px 8px 10px;
}

#product_form {
  display: inline-block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 88%;
  min-height: calc(100vh - 102px - 60px);
  font-size: 18px;
}

#product_form .input {
  margin: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 72%;
}

#product_form label {
  margin-right: 6%;
  text-align: right;
}

#product_form .switcher {
  margin-bottom: 70px;
}

#product_form .switcher #productType {
  padding: 8px 13px;
}

#product_form p {
  margin-top: 25px;
  font-style: italic;
  text-decoration: underline;
}

#product_form #dimension {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#product_form .red-text {
  color: red;
  margin-top: 10px;
}

footer {
  position: relative;
  width: 90%;
  bottom: 0;
  height: 60px;
  border-top: 1px solid black;
}

footer p {
  padding-top: 28px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */