* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.topbar {
  position: sticky;
  width: 90%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 30px;
  padding: 0px 15px;
  border-bottom: 1px solid black;
  #btn {
    width: 250px;
    display: flex;
    justify-content: space-around;
    a {
      text-decoration: none;
      color: black;
    }
    button {
      font-size: 16px;
      padding: 3px 6px;
    }
  }
}
form {
  width: 100%;
  justify-content: space-around;
  .page-body {
    position: relative;
    width: 88%;
    min-height: calc(100vh - 102px - 60px);
    margin: auto;
    .product-window {
      display: inline-block;
      justify-content: space-between;
      text-align: center;
      margin: 20px;
      width: 230px;
      height: 170px;
      border: 1px solid black;
      padding: 5px 10px;
      .delete-checkbox {
        display: flex;
        text-align: start;
        width: 18px;
        height: 18px;
        margin: 20px 0px 8px 10px;
      }
    }
  }
}

#product_form {
  display: inline-block;
  justify-content: space-between;
  width: 88%;
  min-height: calc(100vh - 102px - 60px);
  font-size: 18px;
  .input {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
    margin-right: 72%;
  }
  label {
    margin-right: 6%;
    text-align: right;
  }
  .switcher {
    margin-bottom: 70px;
    #productType {
      padding: 8px 13px;
    }
  }
  p {
    margin-top: 25px;
    font-style: italic;
    text-decoration: underline;
  }
  #dimension {
    display: flex;
    flex-direction: column;
  }
  .red-text {
    color: red;
    margin-top: 10px;
  }
}
footer {
  position: relative;
  width: 90%;
  bottom: 0;
  height: 60px;
  border-top: 1px solid black;
  p {
    padding-top: 28px;
    text-align: center;
  }
}
